
/* 질문 작성, 수정, 삭제 버튼 */

.qna_checkbox {
    display: none;
}
.qna_title {
    color: rgb(230,230,230) !important;
    font-weight: bold;
    display: inline-block;
}
.qna_post_button {
    max-height: 0px;
    overflow: hidden;
}
.qna_checkbox:checked + .qna_title + .qna_post_button{
    max-height: 1000px;
}

.qna_update_button {
    max-height: 0px;
    overflow: hidden;
}
.qna_checkbox:checked + .qna_title + .qna_checkbox + .qna_title + .qna_checkbox + .qna_title + .qna_update_button{
    max-height: 1000px;
}

.qna_delete_button {
    max-height: 0px;
    overflow: hidden;
}
.qna_checkbox:checked + .qna_title + .qna_checkbox + .qna_title + .qna_update_button + .qna_delete_button{
    max-height: 1000px;
}

.qna_reply_button {
    max-height: 0px;
    overflow: hidden;
}
.qna_checkbox:checked + .qna_title + .qna_update_button + .qna_delete_button +.qna_reply_button{
    max-height: 1000px;
}

/* 댓글 수정, 삭제 버튼 */
.qna_rep_checkbox {
    display: none;
}
.qna_rep_title {
    color: rgb(230,230,230) !important;
    font-weight: bold;
    display: inline-block;
}
.qna_rep_update_button {
    max-height: 0px;
    overflow: hidden;
}
.qna_rep_checkbox:checked + .qna_rep_title + .qna_rep_checkbox + .qna_rep_title +.qna_rep_update_button{
    max-height: 1000px;
}

.qna_rep_delete_button {
    max-height: 0px;
    overflow: hidden;
}
.qna_rep_checkbox:checked + .qna_rep_title + .qna_rep_update_button +.qna_rep_delete_button{
    max-height: 1000px;
}

/* 기타 디자인 */
#qna_page{
    width:100%;
    float: left;
    overflow: scroll;
    background-color: rgb(37, 37, 37) !important;
    color: rgb(230,230,230) !important;
    max-height: 830px;
}
#qna_question_button label{
    font-size: 30px;
    margin-bottom: 5px;
}

.qna_query_button label{
    font-size: 15px;
    margin: 1px;
}
.qna_query_button{
    display: block !important;
}

.qna_contents{
    width: 80%;
    min-height: 100px;
    border: 2px solid;
    margin-bottom: 5px;
    overflow: hidden;
}

.qna_ans_contents{
    width: 80%;
    min-height: 100px;
    border: 2px solid;
    margin-bottom: 5px;
    margin-left: 80px;
    overflow: hidden;
}
#qna_name{
    border-bottom: 1px solid;
    margin-top: 0px;
    position: relative;
}
.qna_input_box{
    border: 1px solid;
    font-size: 15px;
    font-weight: bold;
    display: block;
}
.qna_input_box p{
    padding: 1px;
    margin: 1px;
}

.qna_input_box form{
    text-align: left;
}

#qna_article{
    margin-top: 40px;
    background-color: rgb(37, 37, 37);
    /* margin-right: 5%; */
    padding: 20px;
    padding-left: 25px;
    padding-right: 30px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 20px 0px #999; */
    width: 80%;
    color: rgb(184, 189, 190);
    position: relative;
    min-height: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px 0px #999;
    overflow: hidden;
}