* {
    font-family: 'Roboto', sans-serif;
}

/* Back Ground Color */
html body {
    /* background-color: rgb(230, 230, 230); */
    background-color: rgb(37, 37, 37);
}

body a {
    color: rgb(150, 150, 150);
}

/* Back Ground Color */
/* NavBar */
nav {
    /* background-color: rgba(167, 201, 212, 80); */
    background-color: rgb(37, 37, 37);
    border-radius: 0 0 5px 5px;
}

.navbar-brand {
    margin-left: 10%;
}

.navbar-brand img {
    width: 80%;
}

.login {
    margin-right: 10%;
}

.navbar-toggler {
    margin-right: 10%;
}

.nav-item {
    margin: 5px;
    padding: 5px;
}

.nav-item:hover {
    margin: 5px;
    padding: 5px;
    /* background-color: rgb(212, 93, 45); */
    color: white;
    text-decoration: none;
}
.navbar-test {
    color: white;
}

/* NavBar */
/* Footer */
.footer p {
    margin-left: 10%;
    color: grey;
    font-size: 70%;
    margin-top: 15px;
    clear:both;
}

/* Footer */
/* Article */
.article {
    margin-top: 50px;
    background-color: rgb(37, 37, 37);
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 0px #999;
    color: rgb(202, 202, 202);
}

.article h1,
h2,
#googleMap {
    margin-bottom: 20px;
}

.article h1 {
    border-bottom: solid rgb(200, 200, 200) 1px;
    padding-bottom: 10px;
    color: rgb(127, 161, 172);
}

.article h2 {
    font-weight: bold;
    font-size: 25px;
}

.article h1 .h1-border {
    color: rgb(23, 162, 184);
    font-weight: bold;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 3px rgb(23, 162, 184);
}

.login-article {
    width: 500px;
    margin-top: 50px;
    background-color: rgb(37, 37, 37);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 0px #999;
}

.login-article h1,
h2,
#googleMap {
    margin-bottom: 20px;
}

.login-article h1 {
    border-bottom: solid rgb(200, 200, 200) 1px;
    padding-bottom: 10px;
    color: rgb(127, 161, 172);
}

.login-article h2 {
    font-weight: bold;
    font-size: 25px;
}

.login-article h1 .h1-border {
    color: rgb(23, 162, 184);
    font-weight: bold;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 3px rgb(23, 162, 184);
}

/* Article */
/* Google Map */
#googleMap {
    width: 100%;
    height: 400px;
}

/* Google Map */

/* members css start */

.login-article li {
    display: inline-block;
}

.right-align {
    float: right;
    margin-right: 5px;
}

.la {
    margin-right: 15px;
}

.member-position {
    background-color: rgb(37, 37, 37);
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.562);
}

.member-human {
    margin: 10px;
    overflow: hidden;

}

.member-career {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px !important;
}

.member-human-contents {
    overflow: hidden;
}

#member-info {
    float: left;
    width: 40%;
}

#member-interest {
    float: left;
    width: 40%;
}

#member-interest ul {
    list-style: none;
}

#member-interest ul li:first-child {
    list-style-image: url('css_img/member_bullet.png');
}

#member-interest li {
    padding-left: 6px;
}

#member-info ul {
    list-style-image: url('css_img/member_bullet.png');
}

#member-info li {
    padding-left: 6px;
}

.member-human img {
    float: left;
}

.member-photo {
    width: 140px;
    height: 175px;
    float: left;
}

.member-position h2 {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding-left: 10px;
    margin: 0;
    background-color: rgb(10, 90, 102);
    color: rgba(255, 255, 255, 0.863);
    line-height: 52px;
    height: 52px;
}

.member-position li {
    margin: 13px 0;
    margin-left: 30px;
}

.member-name {
    margin-top: 5px !important;
    font-weight: bold;
    font-size: 20px;
}

.member-article {
    margin-top: 50px;
    background-color: rgb(37, 37, 37);
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 0px #999;
}

.member-article h1,
h2 {
    margin-bottom: 20px;
}

.member-article h1 {
    border-bottom: solid rgb(200, 200, 200) 1px;
    padding-bottom: 10px;
    color: rgb(127, 161, 172);
}

.member-article h2 {
    font-weight: bold;
    font-size: 25px;
}

.member-article h1 .h1-border {
    color: rgb(23, 162, 184);
    font-weight: bold;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 3px rgb(23, 162, 184);
}


/* members css end */

/* notices */
/* .notices-section:first-child {
    margin: 100% 5% 0% 5%;
    padding: 1% 2% 1% 2%;
    background-color: rgb(37, 37, 37);
    border-radius: 3px;
} */

.notices-section {
    margin: 0% 5% 0% 5%;
    padding: 1% 2% 0% 2%;
    background-color: rgb(37, 37, 37);
    border-radius: 3px;
    /* border: 1px solid black; */
}

.post-title {
    float: left;
    /* border: 1px solid green; */
}

.post-title a {
    font-size: 150%;
    color: rgb(24, 130, 146);
}

.post-date {
    float: right;
    color: rgba(0, 0, 0, 0.411);
    font-size: 70%;
    /* border: 1px solid blue; */
}

.post-summary {
    clear: both;
    font-size: 90%;
    /* border: 1px solid pink; */
}

hr {
    color: rgba(0, 0, 0, 0.411);
    padding: 0%;
    margin: 3% 0% 3% 0%;
}

/* notices */

/* notice-post */
.notice-post-info {
    padding: 0% 3% 0% 3%;
    font-size: 70%;
}

#notice-post-writer {
    width: 20%;
    float: left;
    /* border: 1px solid red; */
}

#notice-post-date {
    width: 20%;
    float: left;
    /* border: 1px solid blue; */
}

#notice-post-hits {
    width: 20%;
    float: left;
    /* border: 1px solid yellow; */
}

.notice-post-info hr {
    padding: 0% 3% 0% 3%;
    clear: both;
}

.notice-post-file-list {
    clear: both;
    padding: 1% 3% 1% 3%;
    font-size: 80%;
    width: 90%;
    margin: 1% auto;

}

.notice-post-file-list span {
    padding: 0% 1% 0% 1%;
    font-weight: bold;
}

.notice-post-file-list a {
    padding: 0% 1% 0% 1%;
    color: black;
}

.notice-post-file:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

.notice-post-file:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

.notice-post-content {
    padding: 3% 3% 3% 3%;
}

#related-title {
    padding: 0% 3% 0% 3%;
    font-size: 90%;
}

.related-posts ul {
    padding: 0% 3% 0% 3%;
    margin-left: 2%;
    font-size: 80%;
}

.related-posts a {
    color: black;
}

/* notice-post */

/* courses */
.courses-section {
    margin: 5% 5% 5% 5%;
    background-color: rgb(37, 37, 37);
    border-radius: 3px;
    overflow: hidden;
    color: #999;
    border-radius: 10px;
    /* border : 1px solid red; */
}

.courses-title {
    padding: 1% 0% 1% 0%;
    text-align: center;
    font-size: 130%;
    background-color: rgb(10, 90, 102);
    color: white;
    /* border : 1px solid yellow; */
}

.content-all{
    border-left: 3px solid rgb(85, 85, 85);
    border-right: 3px solid rgb(85, 85, 85);
    border-bottom: 3px solid rgb(85, 85, 85);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 2px;
    padding-top: 7px;
}

.courses-content {
    padding: 1% 0% 1% 0%;
    font-size: 110%;
    clear: both;
    overflow: hidden;
    /* border : 1px solid blue; */
}

.courses-code {
    padding: 0% 1% 0% 1%;
    float: left;
    color: rgb(150, 150, 150);
    /* border : 1px solid black; */
}

.courses-name {
    padding: 0% 1% 0% 1%;
    float: left;
    color: rgb(197, 196, 196);
    /* border : 1px solid green; */
}

.courses-slides {
    margin: 0% 1% 0% 1%;
    padding: 0.1% 1% 0.1% 1%;
    float: right;
    font-size: 85%;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #999;
}

.courses-home {
    margin: 0% 1% 0% 1%;
    padding: 0.1% 1% 0.1% 1%;
    float: right;
    font-size: 85%;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #999;
}

.courses-content a {
    color: rgb(185, 185, 185);
}
.courses-content a:hover {
    color: white;
    font-weight: bold;
}

.courses_home_title {
    padding: 0.5% 1% 1% 3%;
    height: 45px;
    font-size: 130%;
    border: 2px solid rgb(150, 150, 150);
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #999;
    color: rgb(226, 227, 228);
    /* vertical-align: middle; */
    /* border: 1px solid pink; */
}

.courses_home_text {
    margin: 3% 3% 3% 3%;
    /* border: 1px solid blue; */
}

.text-bold {
    font-weight: bold;
}

/* courses */

/* index */
.img-section {
    margin: 10px auto;
    position: relative;
    background-color: rgb(149, 149, 149);
}

.img-section img {
    width: 100%;
    vertical-align: middle;
    opacity: 0.6;
}

.img-text {
    padding: 20px 10px 20px 10px;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -90%);
    color: white;
    box-shadow: 0px 0px 20px 0px #999;
}

.img-text h1 {
    color: white;
}

.img-text h1 .h1-border {
    color: rgb(23, 162, 184);
    font-weight: bold;
    border-bottom: solid 3px white;
    background-color: rgb(23, 162, 184);
}

/* index */

/* login */
.title {
    font-weight: bold;
    background: lightblue;
    height: 35px;
    padding-top: 5px;
    padding-left: 10px;
    margin: 0px;
}

.research img {
    float: left;
    width: 120px;
    text-align: center;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.intro {
    background: skyblue;
    width: 155px;
    font-size: 25px;
    text-align: left;
    padding-left: 1%;
    padding-top: 3px;
    height: 40px;
    margin: 0px;
}

.content {
    overflow: hidden;

}

.research ul {
    list-style: none;
    list-style-type: none;
    font-size: 20px;
    background: white;
    margin: 0px;
}

.research li {
    margin: 5px;
}

.content li::before {
    content: "\25FC";
    color: skyblue;
    margin-right: 10px;
}

.research-ul {
    float: left;
}


/*publication by YC*/
#left_banner_yc {
    position: fixed;
    background-color: rgb(10, 90, 102);
    color: white;
    width: 220px;
    margin-top: 50px;
    margin-left: 3%;
    padding: 20px;
    padding-top: 30px;
    float: left;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #999;
}

#left_banner_yc ul {
    list-style: none;
    padding-left: 0px;
}

#left_banner_yc li {
    padding-left: 26px;
    margin-top: 10px;
    font-style: italic;
}

#left_banner_yc li:hover {
    background-color: black;
    border-radius: 3px;
}


#left_banner_yc a {
    color: white;
    text-decoration: none;
}


.banner_head {
    font-size: 12pt;
    margin-left: 26px;
}

.banner_head:hover {
    background-color: black;
    border-radius: 3px;
}

#banner_hr {
    margin: 25px;
}

.participate {
    padding-top: 15px;
}

.article_yc {
    margin-top: 40px;
    margin-left: 330px;
    background-color: rgb(37, 37, 37);
    /* margin-right: 5%; */
    padding: 20px;
    padding-left: 25px;
    padding-right: 30px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 20px 0px #999; */
    width: 920px;
    max-width: 920px;
    float: left;
    color: rgb(184, 189, 190);
    clear: right;
    min-height: 800px;
}


.article_yc h1 {
    border-bottom: solid rgb(200, 200, 200) 1px;
    padding-bottom: 10px;
    color: rgb(209, 219, 223);
}

.article_yc h2 {
    font-weight: bold;
    font-size: 25px;
}

.article_yc ul {
    padding-left: 17px;
}

.article_yc li {
    margin-bottom: 11px;
    margin-top: 11px;
}

.article_yc h1 .h1-border {
    color: rgb(23, 162, 184);
    padding: 8px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 3px rgb(23, 162, 184);
}

.part_head {
    font-size: 16pt;
    margin-top: 20pt;
    margin-bottom: 10pt;
}

.article_yc li {
    margin-top: 12pt;
    font-size: 11pt;
}

.part_part {
    font-size: 12pt;
    font-weight: bold;
}

/*publication by YC*/

/*gallery by YC*/
#gallery {
    overflow: hidden;
}

.gallery_col {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.one_photo {
    margin: 5px;
    margin-bottom: 30px;
    float: left;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 5px 0px #999;
}

.one_photo img {
    width: 100%;
}

.one_photo img:hover {
    opacity: 0.5;
}

.photo_inf {
    margin-top: 25px;
    margin-bottom: 18px;
    text-align: center;
}

/*gallery by YC*/

/*slide by YC*/

#slide_qna {
    float: right;
    width: 400px;
    height: 900px;
    background-color: rgb(195, 195, 195);
    overflow: scroll;
    padding: 0;
}

#lec_slide {
    height: 1000px;
}

.question {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    border: solid 1px gray;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}



.solved,
.unsolved {
    float: right;
    border: solid 1px black;
    border-color: rgb(195, 195, 195);
    border-radius: 3px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: blue;
    font-weight: bold;
}

.unsolved {
    color: red;
}

.info {
    margin-bottom: 10px;
}

.who {
    margin: 0;
    font-weight: bold;
}

.when {
    margin: 0;
    font-size: 10pt;
}

.q_or_a {
    clear: left;
}

.ans {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    border: solid 1px gray;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

.question img,
.ans img {
    float: left;
}

#q_form div input {
    margin: 4px;
}

/*slide by YC*/

/* lecture.php css */
.lctop {
    border-width: 95%;
    border: 0px solid grey;
    margin: auto;
    margin-bottom: 5px;
    overflow: hidden;
}

.lctopbox {
    float: left;
    margin: 0px;
    padding: 0;
}

#expansion {
    float: right;
    margin-right: 1%;
}

/* lecture.php css */

/* qna-slide */
.qna-content-box {
    margin: 2% 5% 2% 5%;
    padding: 0%;
}

.qna-question {
    background-color: white;
    clear: both;
}

.qna-question .Q {
    float: left;
    width: 20px;
    height: 22px;
    margin-right: 3px;
}

.qna-question p {
    float: left;
    width: 90%;
    margin-right: 3px;
    /* font-weight: bold; */
}

.qna-question .V {
    float: right;
    width: 20px;
    height: 22px;
    margin-right: 3px;
}

#qna-answer {
    clear: both;
    font-size: 90%;
    background-color: rgb(230, 230, 230);
    /* padding: 2% 5% 1% 5%; */
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    width:400px;
    height: 90px;
}

#qna_banner {
    position: fixed;
    background-color: rgb(10, 90, 102);
    color: white;
    width: 220px;
    margin-left: 3%;
    margin-top: 50px;
    padding: 20px;
    padding-top: 30px;
    float: left;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #999;
}

#qna_banner ul {
    list-style: none;
    margin: auto;
    overflow: hidden;
}

#qna_banner li {
    font-style: italic;
    width: 30%;
    float: left;
    margin: 1%;
}

#qna_banner li:hover {
    background-color: black;
    border-radius: 3px;
}

#qna_banner a {
    color: white;
    text-decoration: none;
}

.banner_title {
    font-size: 12pt;
    margin-left: 26px;
}

.banner_title:hover {
    background-color: black;
    border-radius: 3px;
}

#banner_hr {
    margin: 25px;
}

/* qna-slide */

#all_contents {
    overflow: hidden;
    margin-top: 50px;
}

/* member add? */
.form-group{
    color:white;
}

.fa-edit {
    color: grey;
}

.fa-plus {
    color: white;
}

.fa-minus {
    color: grey;
}
#slide_qna {
    margin-top: 20px;
    overflow: scroll;
    height: 700px;
}

.shortt{
    position: absolute;
    top:-10px;
    right:0px;
}

.shortt a{
    float: right;
}

.q_input {
    margin-left: auto;
}
